@keyframes slide{
  0% {transform: translateX(0);}
  100% {transform: translateX(200px);}
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4d764;
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #0f006d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  
  .header a:hover {
    background-color: #38b6ff;
    border-radius: 5px;
  }
  
  .title {
    font-family: Rockwell, serif;
    font-size: 28px;
  }

  main {
    padding-top: 100px;
    text-align: center;
  }

  h1{
    color: #ff66c4;
    font-size: 50px;
    font-family: Trebuchet MS;
    text-shadow: 3px 4px 3px #0a004b;
  }
  
  .parallelogram{
    width: 200px;
	  height: 500px;
	  transform: skew(-20deg);
	  background: #555;
    translate(80, 0);
  }

  footer {
    background-color: #0f006d;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }