@keyframes slide{
  0% {transform: translateX(0);}
  100% {transform: translateX(200px);}
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4d764;
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #0f006d;
    font-family: "Jersey 10", sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  
  .header a:hover {
    background-color: #38b6ff;
    border-radius: 5px;
  }
  
  .title {
    font-family: "Jersey 10", Rockwell, serif;
    font-size: 80px;
  }

  main {
    padding-top: 90px;
    text-align: center;
  }

  h1{
    color: #ff66c4;
    font-size: 85px;
    font-family:  "Jersey 10", Trebuchet MS;
    text-shadow: 3px 4px 3px #0a004b;
  }
  
  .parallelogram1{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  border: 4px solid #000000;
    position: relative;
    top: 0px;
    left: 300px;
  }

  .parallelogram2{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  border: 4px solid #000000;
    position: relative;
    bottom: 500px;
    left: 550px;
  }

  .parallelogram3{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  border: 4px solid #000000;
    position: relative;
    bottom: 1000px;
    left: 800px;
  }

  .parallelogram4{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  border: 4px solid #000000;
    position: relative;
    bottom: 1500px;
    left: 1050px;
  }

  .parallelogram5{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  border: 4px solid #000000;
    position: relative;
    bottom: 2000px;
    left: 1300px;
  }

  .rectangle1{
    width: 90px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2490px;
    left: 550px;
  }

  .rectangle2{
    width: 90px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2530px;
    left: 800px;
  }

  .rectangle3{
    width: 90px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2570px;
    left: 1050px;
  }

  .rectangle4{
    width: 90px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2610px;
    left: 1300px;
  }
  
  .rectangle5{
    width: 90px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2650px;
    left: 1550px;
  }

  .rectangle6{
    width: 150px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2400px;
    left: 170px;
  }

  .rectangle7{
    width: 150px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2440px;
    left: 420px;
  }

  .rectangle8{
    width: 150px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2475px;
    left: 670px;
  }

  .rectangle9{
    width: 150px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2515px;
    left: 920px;
  }

  .rectangle10{
    width: 150px;
    height: 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 2555px;
    left: 1170px;
  }

  footer {
    background-color: #0f006d;
    font-family:  "Jersey 10", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }