@keyframes slide{
  0% {transform: translateX(0);}
  100% {transform: translateX(200px);}
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4d764;
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #0f006d;
    font-family: "Jersey 10", sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  
  .header a:hover {
    background-color: #38b6ff;
    border-radius: 5px;
  }

  .Favicon2 {
    width: 90px;
    height: 90px;
  }

  .title {
    font-family: "Jersey 10", Rockwell, serif;
    font-size: 80px;
    position: relative;
    left: -650px;
  }

  main {
    padding-top: 110px;
    text-align: center;
  }
  
    .ready{
    width: 15%;
    height: 80px;
    transform: skew(-10deg);
    background-color: #ffa8c8;
    border: 4px dashed #ffffff;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin: 20px auto;
    transition: transform .2s;
    padding-top: 22px;
  }
  
    .content{
    width: 70%;
    height: 550px;
    background-color: #fcf3d1;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    padding-top: 5px;
  }

  .content>p{
    font-size: 30px;
  }

  #score{
    width: 300px;
    height: 70px;
    background-color: #48ff66;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin: 0 50px;
    padding-top: 2px;
  }

  #wrong{
    width: 300px;
    height: 70px;
    background-color: #ff4e48;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin: 0 50px;
    padding-top: 2px;
  }
  
  .overall-score{
    font-size: 50px;
  }

  #scoreEl>p, #wrong>p{
    font-size: 22px;
  }

  .thanks{
    width: 20%;
    height: 60px;
    transform: skew(-10deg);
    background-color: #ffa8c8;
    border: 4px dashed #ffffff;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    padding-top: 0;
  }
  
  .new{
    width: 20%;
    height: 60px;
    transform: skew(-10deg);
    background-color: #ffa8c8;
    border: 4px dashed #ffffff;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin: 30px 15px;
    padding-top: 20px;
  }

  .thanks>p{
    font-size: 20px;
  }

  .class>a{
    font-size: 20px;
    text-decoration: none;
  }

  
    .Banana {
    width: 300px;
    height: 300px;
    position: relative;
    top: -268px;
    left: -680px;
  }



  footer {
    background-color: #0f006d;
    font-family:  "Jersey 10", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }