@keyframes slide{
  0% {transform: translateX(0);}
  100% {transform: translateX(200px);}
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4d764;
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: #0f006d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  
  .header a:hover {
    background-color: #38b6ff;
    border-radius: 5px;
  }
  
  .title {
    font-family: Rockwell, serif;
    font-size: 50px;
  }

  main {
    padding-top: 90px;
    text-align: center;
  }

  h1{
    color: #ff66c4;
    font-size: 80px;
    font-family: Trebuchet MS;
    text-shadow: 3px 4px 3px #0a004b;
  }

  .parallelogram1{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  background: #ff00aa;
    position: relative;
    top: 0px;
    left: 300px;
    transition: transform .2s;
  }

  .parallelogram2{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  background: #ffe600;
    position: relative;
    bottom: 500px;
    left: 550px;
    transition: transform .2s;
  }

  .parallelogram3{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  background: #00ff4c;
    position: relative;
    bottom: 1000px;
    left: 800px;
    transition: transform .2s;
  }

  .parallelogram4{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  background: #00f7ff;
    position: relative;
    bottom: 1500px;
    left: 1050px;
    transition: transform .2s;
  }

  .parallelogram5{
    width: 220px;
	  height: 500px;
	  transform: skew(-32deg);
	  background: #b700ff;
    position: relative;
    bottom: 2000px;
    left: 1300px;
    transition: transform .2s;
  }

  .parallelogram1:hover, .parallelogram2:hover, .parallelogram3:hover, .parallelogram4:hover, .parallelogram5:hover{
    transform: skewX(-32deg) scale(1.1);
  }

  footer {
    background-color: #0f006d;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }